{% load static %}
<title>Mem 监控</title>
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highstock Example</title>

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <style type="text/css">
${demo.css}
        </style>
        <script type="text/javascript">
$(function () {
    $.getJSON('/mem/data/', function (data) {

        // Create the chart
        $('#container').highcharts('StockChart', {

             chart:{ 
                events:{ 
                  load:function(){ 
                     var series = this.series[0] 
                     setInterval(function(){ 
                     $.getJSON('/mem/data',function(res){ 
                       $.each(res,function(i,v) { 
                        series.addPoint(v) 
                          }) 
                       }) 
                      },3000) 
                    } 
                     } 
                  },
 
            rangeSelector: {
                inputEnabled: $('#container').width() > 480,
                selected: 1
            },

            title: {
                text: 'Mem 监控'
            },

            series: [{
                name: 'Mem 监控',
                data: data,
                type: 'spline',
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });
});
        </script>
    </head>
    <body>
<script src="{% static 'js/highstock.js' %}"></script>
<script src="{% static 'js/exporting.js' %}"></script>


<div id="container" style="height: 400px"></div>
    </body>
</html>
